@import '../_variables';
@import '../_mixins';

.grid-gallery {
  width: 100vw;

  position: absolute;
  left: calc((100vw - 100%) / -2);
  top: 0;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(var(--columns), 1fr);

  &__header {
    margin: 0;
    grid-column: 1/-1;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    padding: 0;
    margin: 0 10px 25px;

    @media (min-width: $breakpoint-tablet-width) {
      font-size: 33px;
      margin: 0 30px 25px;
    }
  }

  &__subtitle {
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.2;
    padding: 0;
    margin: 0 10px 24px;

    @media (min-width: $breakpoint-tablet-width) {
      font-size: 13px;
      margin: 0 30px 24px;
    }
  }

  &__item {
    margin: 0;

    &--last {
      grid-column: 1/-1;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
    transition: 0.8s opacity;
  }

  &__packshot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s opacity;

    &:hover {
      opacity: 1;
    }
  }

  &__item-header {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item-title {
    margin: 8px 15px;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
  }

  &__item-cta {
    margin: 8px 15px;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
  }

  &__item-link {
    color: inherit;
    text-decoration: none;
  }
}
