@import '_normalize';

@import '_variables';
@import '_mixins';
@import '_fonts';

@import 'modules/_header';
@import 'modules/_grid-gallery';
// @import 'modules/_background';
@import 'modules/_video-gallery';
// @import 'modules/_carousel';
// @import 'modules/_scroll-carousel';
// @import 'modules/_scroll-carousel-with-arrows';
@import 'modules/_button';
// @import 'modules/_gallery';
@import 'modules/_animation-on-scroll';
// @import 'modules/_product';

body {
  overflow-x: hidden;
}

.main {
  color: $main-color;
  font-family: $main-font;
  font-size: $global-font-size;
  line-height: $global-line-hight;
  font-weight: $global-font-weight;
  letter-spacing: $global-letter-spacing;

  min-height: 100vh;
  min-width: $main-min-width;
  max-width: $main-max-width;
  margin: 0 auto;
  position: relative;

  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  --columns: 1;
  @media (min-width: $breakpoint-mobile-width) {
    --columns: 2;
  }
  @media (min-width: $breakpoint-tablet-width) {
    --columns: 3;
  }
  @media (min-width: $breakpoint-laptop-width) {
    --columns: 4;
  }
  @media (min-width: $breakpoint-large-desktop-width) {
    --columns: 6;
  }
  --rows: calc((var(--items)) / (var(--columns)));
  --items: 24;
  --small-image-aspect-ratio: 450/600;
  --large-image-aspect-ratio: 1350/1012;
  --item-width: calc(100vw / (var(--columns)));
  --item-height: calc((var(--item-width)) / (var(--small-image-aspect-ratio)));
  --gallery-height: calc((var(--item-height) * var(--rows)));
  --gallery-height-on-mobile: calc((var(--gallery-height)) * 2);

  --large-image-height: calc(100vw / (var(--large-image-aspect-ratio)));
  --header-height: 100px;

  --large-image-with-header: calc(
    (var(--header-height)) + (var(--large-image-height))
  );

  --gallery-height-with-all: calc(
    (var(--gallery-height-on-mobile)) + (var(--large-image-with-header))
  );

  @media (min-width: $breakpoint-mobile-width) {
    --gallery-height-with-all: calc(
      (var(--gallery-height)) + (var(--large-image-with-header))
    );
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: var(--gallery-height-with-all);
  }

  // images containers

  [style*='--aspect-ratio'] {
    position: relative;

    &::before {
      content: '';
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }

    > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      // height: 100%;
    }
  }
}
